<!DOCTYPE html>
<html>

	<!-- IMPORTANT
		This HTML file is meant for testing the application/component standalone, outside the Unified Shell.
		Some integration functionality, personalization etc. will not be available when running standalone.
	-->

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8">

		<title><%= applicationName %></title>

		<script id="sap-ui-bootstrap"
				src="<%= openUI5Location %>"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.m, sap.me"
				data-sap-ui-xx-bindingSyntax="complex"
				data-sap-ui-resourceroots='{
					"<%= fioriComponentNamespace %>": "./"
				}' > /* endOfResourceroots */
		</script>

		<!-- Application launch configuration -->
		<script>
			sap.ui.getCore().attachInitEvent(function() {
				var oComponentContainer = new sap.ui.core.ComponentContainer({
					height : "100%",
					name : "<%= fioriComponentNamespace %>"
				});
				oComponentContainer.placeAt("content");
			});
		</script>
	</head>

	<!-- UI Content -->
	<body class="sapUiBody" role="application" id="content">
	</body>
</html>
