<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">

		<title>OpenUI5/Fiori XML, SplitApp, Component, EventBus</title>

		<script
			id="sap-ui-bootstrap"
			src="<%= openUI5Location %>"
			data-sap-ui-theme="sap_bluecrystal"
			data-sap-ui-libs="sap.m, sap.ui.layout"
			data-sap-ui-xx-bindingSyntax="complex"
			data-sap-ui-resourceroots='{ "<%= fioriComponentNamespace %>": "./" }' >
		</script>

		<script>
			new sap.ui.core.ComponentContainer({
				name: "<%= fioriComponentNamespace %>"
			}).placeAt("content");
		</script>

	</head>
	<body class="sapUiBody" role="application" id="content">
	</body>
</html>