<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">

		<title><%= applicationName %></title>

		<script id="sap-ui-bootstrap"
				src="<%= openUI5Location %>"
				data-sap-ui-theme="sap_bluecrystal"
				data-sap-ui-libs="sap.m, sap.ui.layout"
				data-sap-ui-xx-bindingSyntax="complex"
				data-sap-ui-resourceroots='{
					"<%= fioriComponentNamespace %>": "./"
				}' > /* endOfResourceroots */
		</script>

		<!-- *** Enable fake OData service ***
		These two scripts are provided by UI5 for faking the Northwind sample OData service.
		Delete them (and enable the proxy as described in Gruntfile.js comments) if you wish
		to use the real service or another method to mock your calls.
		-->
		<%
		var sinonLocation = openUI5Location.substr(0, openUI5Location.lastIndexOf("/")) + "/sap/ui/thirdparty/sinon.js";
		%>
		<script src="<%= sinonLocation %>"></script>
		<script src="model/ODataModelFakeService.js"></script>

		<script>
			new sap.ui.core.ComponentContainer({
				name: "<%= fioriComponentNamespace %>"
			}).placeAt("content");
		</script>
	</head>
	<body class="sapUiBody" role="application" id="content">
	</body>
</html>