<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title><%= applicationName %></title>
	<meta name="description" content="<%= appDescription %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Load the library stylesheets manually to stop flicker -->
	<link rel="stylesheet" type="text/css" id="sap-ui-theme-sap.ui.core"
		href="resources/sap/ui/core/themes/sap_bluecrystal/library.css" />
	<link rel="stylesheet" type="text/css" id="sap-ui-theme-sap.m"
		href="resources/sap/m/themes/sap_bluecrystal/library.css" />

	<script id="sap-ui-bootstrap" type="text/javascript"
		src="resources/sap-ui-core.js"
		data-sap-ui-theme="sap_bluecrystal"
		data-sap-ui-libs="sap.m"
		data-sap-ui-rootComponent="<%= fioriComponentNamespace %>"
		data-sap-ui-preload="async"
		data-sap-ui-xx-componentPreload="async"
		data-sap-ui-xx-bindingSyntax="complex"
		data-sap-ui-xx-rootComponentNode="root"
		data-sap-ui-resourceroots='{
			"<%= fioriComponentNamespace %>": "./"
		}'> /* endOfResourceroots */
	</script>

</head>
<body class="sapUiBody" id="root" role="application"></body>
</html>
