<!DOCTYPE html>
<html>
    <head>
        <title>{dirName}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
            
            td{
                padding-right:10px;
            }
        </style>
    </head>
    <body>
        <h2>Listing of Directory {dirName}</h2>
        <hr/>
        <table class="dirs">
        {dirs}</table>
        <table class="files">
        {files}</table>
        <hr/>
    </body>
</html>